<%- include('../partials/header.ejs') -%>

<!-- <div class="container">
  <h1 class="mb-1"><%= article.title %></h1>
  <div class="text-muted mb-2">
    <%= article.createdAt.toLocaleDateString() %>
  </div>
  <a href="/" class="btn btn-seconday">All Articles</a>
  <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

  <div><%= article.markdown %></div>
</div> -->
<style>
  .blog-content {
    padding: 0 8%;
  }

  .blog-content .content-right {
    float: right;
  }

  .lists {
    padding-left: 5%;
    padding-top: 1%;
  }

  .blog-image {
    height: 500px;
    object-fit: cover;
  }
</style>

<div class="container blogs">
  <div class="row mt-5 blog-content">
    <h2><%= article.title %></h2>
  </div>
  <div class="row mt-5 blog-content">
    <div class="col">
      <small>Created by</small>
      <h5>Jasmine</h5>
    </div>
    <div class="col">
      <div class="content-right">
        <small>Time</small>
        <h5>2 min read</h5>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mt-5">
    <img src="<%= article.image %>" alt="image" class="blog-image" />
  </div>
  <div class="row mt-5 blog-content">
    <h4>Steps to Follow :</h4>
    <ol class="lists">
      <li>Be Passionate.</li>
      <li>Start While You Are Still Employed.</li>
      <li>Don't Do it Alone.</li>
      <li>Get Clients or Customers Lined Up.</li>
      <li>Write a Business Plan.</li>
      <li>Do Your Research.</li>
    </ol>
    <p><%= article.markdown %></p>
  </div>
</div>

<%- include('../partials/footer.ejs') -%>
